@model FifthAssignment.Core.Application.Models.UserModels.SaveUserModel

@{
	var IsAdmin = ViewBag.IsAdmin;

	var filteredRoles = ViewBag.Role;
	string adminIs = ViewBag.IsAdmin ? "Admin" : "client";
}
@if (ViewBag.MessageError is not null)
{
	<p class="alert-danger d-block text-center">@ViewBag.MessageError</p>
}
@if (ViewBag.MessageSuccess is not null)
{
	<p class=" alert alert-success d-block text-center" role="alert">@ViewBag.MessageSuccess</p>
}
<div class="row">
	<div class="col-8 offset-2">
		<div class="bg-dark text-light">
			<h1 class="text-center">Register</h1>
		</div>
		<div class="card shadow-sm">
			<div class="card-body">
				<section>
					<form method="post" enctype="multipart/form-data" asp-controller="Account" asp-action="RegisterUser">
				
						<div class="mb-3">
							<label for="FirstName" class="form-label">Name</label>
							<input type="text" name="FirstName" class="form-control" value="@Model.FirstName" />
						</div>
						<div class="mb-3">
							<label for="LastName" class="form-label">Last Name</label>
							<input type="text" name="LastName" class="form-control" value="@Model.LastName" />
						</div>
						<div class="mb-3">
							<label for="Cedula" class="form-label">Cedula</label>
							<input type="text" name="Cedula" class="form-control" value="@Model.Cedula" />
						</div>
						<div class="mb-3">
							<label for="Email" class="form-label">Email Address</label>
							<input type="email" name="Email" class="form-control" value="@Model.Email" />
						</div>
						<div class="mb-3">
							<label for="UserName" class="form-label">User Name</label>
							<input type="text" name="UserName" class="form-control" value="@Model.UserName" />
						</div>
						<div class="mb-3">
							<label for="Password" class="form-label">Password</label>
							<input type="password" name="Password" required class="form-control" value="@Model.Password" />
						</div>
						<div class="mb-3">
							<label for="ComfirmPassword" class="form-label">Password Confirm</label>
							<input type="password" name="ComfirmPassword" required class="form-control" />
						</div>
						<div class="mb-3">
							<label class="form-label">Role</label>
							<select name="SelectedRole" required class="form-select" asp-items="filteredRoles">
								@foreach (var item in filteredRoles)
								{
									item.Selected = true;
								}
							</select>
						</div>

						<input type="hidden" name="IsAdminUser" value="@adminIs" />
						@if (!IsAdmin)
						{
							<div class="mb-3">
								<label for="Amount" class="form-label">Amount</label>
								<input type="text" name="Amount" required class="form-control" value="0" />
							</div>
						}
					

						<div class="p-2">
							<button type="submit" class="btn btn-primary float-end p-2">Save</button>
							<a asp-controller="User" asp-action="Index" class="btn btn-outline-warning float-end p-2 mx-2">Go Back</a>
						</div>
					</form>
				</section>
			</div>
		</div>
	</div>
</div>